<%- include("common/header") %>
  <% const students = data.filter(account => account.role === 'Student'); %>
  <% const admins = data.filter(account => account.role === 'Admin'); %>
  <h1>Welcome, <%= user.name %> 👋</h1>

  <hr>

  <h2>🚩 Reports</h2>
  <p>
    <a href="/reports">View Reports</a>
  </p>

  <hr>

  <div class="container mt-5">
    <h2>Students (<%= students.length %>)</h2>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th colspan="2">Actions</th>
        
      </tr>
      <% students.forEach(user => {%>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>********</td>
            <td><%= user.role %></td>
            <td><a href="/admin?email=<%= user.email %>#editform">Edit</a> | <a href="/delete-user?email=<%= user.email %>">Delete</a></td>
        </tr>
      <%}); %>
    </table>
    
  </div>

  <br>

  <div class="container mt-5">
    <h2>Admins (<%= admins.length %>)</h2>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th colspan="2">Actions</th>
      </tr>
      <% admins.forEach(user => {%>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>********</td>
            <td><%= user.role %></td>
            <td><a href="/admin?email=<%= user.email %>#editform">Edit</a> | <a href="/delete-user?email=<%= user.email %>">Delete</a></td>
        </tr>
      <%}); %>
    </table>
  </div>
  <div id="progress">
    <a href="login.html" id="progress-value"><i class='bx bx-left-arrow-alt'></i></a>
  </div>


<% if(edit){ %>
    <div id="editform">

    <h4>Edit User</h4>
        <form action="edit-user" method="post">
          Name:* <input type="text" name="name" value="<%= edit.name %>"><br>
            
          Email: <input type="email" name="email" value="<%= edit.email %>" readonly><br>
          
          Password: <input type="text" name="password"><br>
          
          Role:*  
          <select name="role" class="form-control">
            <option value="Student" <%=edit.role=="Student"? "selected" : ""%>>Student</option>
            <option value="Admin" <%=edit.role=="Admin"? "selected" : ""%>>Admin</option>
          </select>
          <br><br>
          <button type="submit">Update</button>
        </form>
        
    </div>
      
  <% } %>
  <% if(error){ %>
    <p style="color:red"><%= error %></p>
    <% } %>
  <% if(success){ %>
    <p style="color:green"><%= success %></p>
    <% } %>
</body>
</html>