<%- include("common/header") %>
  <div class="container mt-5">
    <h2>Accounts (<%= data.length %>)</h2>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th colspan="2">Actions</th>
        
      </tr>
      <% data.forEach(user => {%>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td><%= user.role %></td>
            <td><a href="/admin?email=<%= user.email %>">Edit</a> | <a href="">Delete</a></td>
        </tr>
      <%}); %>
    </table>
    
  </div>
  <div id="progress">
    <a href="login.html" id="progress-value"><i class='bx bx-left-arrow-alt'></i></a>
  </div>


<% if(edit){ %>
  
    <h4>Update Contact</h4>
        <form action="edit-user" method="post">
          Name: <input type="text" name="name" class="form-control" value="<%= edit.name %>" required><br>
            
          Email: <input type="email" name="email" class="form-control" value="<%= edit.email %>" required><br>
          
          Password: <input type="text" name="password" class="form-control" value="<%= edit.password %>" required><br>
          
          Role:  
          <select name="role" class="form-control">
            <option value="Student" <%=edit.role=="Student"? "selected" : ""%>>Student</option>
            <option value="Organiser" <%=edit.role=="Organiser"? "selected" : ""%>>Organiser</option>
            <option value="Admin" <%=edit.role=="Admin"? "selected" : ""%>>Admin</option>
          </select>
          <br><br>
          <button type="submit">Update</button>
        </form>
  <% } %>
</body>
</html>