<%- include("common/header") %>

<table width="700" align="center" border="1" cellpadding="12" cellspacing="0">
  <tr>
    <td align="left">
  <h1>Create New Event</h1>
  
  <% if (error !== '') { %>
    <p style="color:red">⚠️ <%= error %></p>
  <% } %>

  <% if (success === '') { %>
    <form action="/events/create-event" method="post" enctype="multipart/form-data"> <!-- does the parsing: send text and files together  -->
      <table>
        <tr>
          <th align="left">Title:</th>
          <td><input type="text" name="title" value="<%= title %>"></td>
        </tr>
        <tr>
          <th align="left">Date:</th>
          <td><input type="date" name="date" value="<%= date %>"></td>
        </tr>
        <tr>
          <th align="left">Time:</th>
          <td><input type="time" name="time" value="<%= time %>"></td>
        </tr>
        <tr>
          <th align="left">Location:</th>
          <td><input type="text" name="location" value="<%= location %>"></td>
        </tr>
        <tr>
          <th align="left">Category:</th>
          <td>
            <select name="category">
              <option value="default" <%= cat === '' || cat === 'default' ? 'selected' : '' %>>--Select a Category--</option>
              <option value="Academic" <%= cat === 'Academic' ? 'selected' : '' %>>Academic</option>
              <option value="Social" <%= cat === 'Social' ? 'selected' : '' %>>Social</option>
              <option value="Sports" <%= cat === 'Sports' ? 'selected' : '' %>>Sports</option>
              <option value="Workshop" <%= cat === 'Workshop' ? 'selected' : '' %>>Workshop</option>
              <option value="Other" <%= cat === 'Other' ? 'selected' : '' %>>Other</option>
            </select>
          </td>
        </tr>
        <tr>
            <th align="left">Event Image <br>(optional):</th>
            <td><input type="file" name="image" accept="image/*"></td>
        </tr>
        <tr>
          <th align="left">Description:</th>
          <td><textarea name="description" rows="5" cols="40"><%= desc %></textarea></td>
        </tr>
      </table>
      <br>
      <button type="submit">Create Event</button>
    </form>
  <% } %>

  <% if (success !== '') { %>
    <p style="color:green">✅ <%= success %></p>
  <% } %>
    <br>
  <a href="/events">← Back to Events</a>
    </td>
  </tr>
</table>

</body>
</html>
