<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create new event</h1>
    <% if (error !== '' || success === '' ){ %>
        <p style="color:red"><%= error %></p>

        <form action="/createEvent" method="post">
        Title: <br>
        <input type="text" name="title" value="<%= title %>">
        <br><br>

        Description: <br>
        <input type="text" name="description" value="<%= desc %>">
        <br><br>

        Date: <br>
        <input type="date" name="date" value="<%= date %>">
        <br><br>

        Location: <br>
        <input type="text" name="location" value="<%= location %>">
        <br><br>

        Category: <br>
        <select name="category">
            <option value="">Select category</option>
            <option value="Academic" <%= cat === 'Academic' ? 'selected' : '' %>>Academic</option>
            <option value="Social" <%= cat === 'Social' ? 'selected' : '' %>>Social</option>
            <option value="Sports" <%= cat === 'Sports' ? 'selected' : '' %>>Sports</option>
            <option value="Workshop" <%= cat === 'Workshop' ? 'selected' : '' %>>Workshop</option>
            <option value="Other" <%= cat === 'Other' ? 'selected' : '' %>>Other</option>
        </select>
        <br><br>

        Organiser: <br>
        <input type="text" name="organise" value="<%= org %>">
        <br><br>

        <button>Create</button>

    </form>

    <% } else if (success !== '') {%>
        <p style="color:green"><%= success %></p>
        <a href="/events">Back to Events</a>
    <% } %>

    
</body>
</html>