<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><%= event.title %></h1>
    <table border="1">
        <tr>
            <th>Description:</th>
            <td><%= event.description %></td>
        </tr>
        <tr>
            <th>Date:</th>
            <td><%= new Date(event.date).toDateString() %></td>
        </tr>
        <tr>
            <th>Time:</th>
            <td><%= event.time || '-' %></td>
        </tr>
        <tr>
            <th>Location:</th>
            <td><%= event.location %></td>
        </tr>
        <tr>
            <th>Category:</th>
            <td><%= event.category %></td>
        </tr>
        <tr>
            <th>Organiser:</th>
            <td><%= organiser.name %></td>
        </tr>
        
    </table>
    <br>

    <% let hasAction = false; %>
    <% if (user && user.role === 'Student') { %>
        <% if (hasAction) { %>|<% } %>
        <a href="/rsvp?_id=<%= event._id %>">RSVP</a>
        <% hasAction = true; %>
    <% } %>
    <!-- checks if user is logged in before showing report option -->
    <% if (user) { %>
        <!-- add | if there are previous actions -->
        <% if (hasAction) { %>|<% } %>
        <!-- builds the report link, sends the event's Mongo _id string: /report-event?_id=<event id> -->
        <a href="/report-event?_id=<%= event._id %>">Report</a>
        <!-- marks that this row has at least one action -->
        <% hasAction = true; %>
    <% } %>

    <% if (user) { %>
        <% if (hasAction) { %>|<% } %>
        <a href="/bookmarks/add/<%= event._id %>">Bookmark</a>
        <% hasAction = true; %>
    <% } %>


    <br><br>
<a href="/events">← Back to Events</a>

</body>
</html>