<%- include("common/header") %>

    <h1>Profile</h1>
    <% if(!edit){ %>
    <table border="1" cellpadding="8" cellspacing="0" style="width:25%; border-collapse:collapse;">
        <tr>
            <td>Name: </td>
            <td><%=user.name%></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><%=user.email%></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>*******</td>
        </tr>
        <tr>
            <td>Role: </td>
            <td><%=user.role%></td>
        </tr>
        <tr>
            <td colspan="2"><a href="/user/profile?edit=<%=user.email%>">Edit</a> | <a href="/user/profile?delete=<%=user.email%>">Delete</a></td>
        </tr>
    </table>
    <%} else{ %>
    <form action="/user/profileedit" method="post">
    <table cellpadding="8" cellspacing="0" style="width:25%; border-collapse:collapse;">
        <tr>
            <td>Name: </td>
            <td><input type="text" name="name" value="<%= user.name %>"></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><%= user.email %></td>
            <input type="hidden" name="email" value="<%= user.email %>">
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="text" name="password" placeholder="leave empty if no change"></td>
        </tr>
        <tr>
            <td>Role: </td>
            <td><%= user.role %></td>
            <input type="hidden" name="role" value="<%= user.role %>">
        </tr>
    </table><br>
    <button type="submit">Update</button>
    <a href="/user/profile"><button type="button">Cancel</button></a>
    </form>
    <% } %>
    <% if(error){ %>
    <p style="color:red"><%= error %></p>
    <% } %>
  <% if(success){ %>
    <p style="color:green"><%= success %></p>
    <% } %>
    <% if (del) { %>
    <p><strong>⚠️ This action cannot be undone! Are you sure you want to delete your account?</strong></p>
    <form action="/user/profiledelete" method="POST">
        <input type="hidden" name="email" value="<%= user.email %>">
        <button type="submit">🗑️ Confirm Delete</button>
        <a href="/user/profile"><button type="button">Cancel</button></a>
    </form>
    <% } %>
    </center>
